<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="answer-block">
    <div class="ask">
      <p><%= @question %></p>
    </div>
    <div class="answer">
      <p><%= @answer %></p>
    </div>
    <div class="btn btn-secondary btn-ask">
      <%= link_to "Ask a new question", ask_path %>
    </div>
  </div>
</div>
