<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="ask-block">
    <form action="/answer" method="get">
      <div class="form-group question-block">
        <input class="form-control input-question" type="text" name="question" placeholder="What is your question?">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
