// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ask-block {
  width: 50%;
  .question-block {
    display: flex;
    margin-top: 50px;
  }
  .input-question {
    margin-right: 30px;
  }
}
.answer-block {
  width: 50%;
  margin-top: 50px;
  .ask {
    padding: 10px;
    border-left: 8px solid #b6bbbf;
  }
  .answer {
    padding: 10px;
    border-left: 8px solid #b6bbbf;
    background-color: #ffffd5;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-ask {
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
